* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $white-two;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

img {
  border: 0;
  outline: none;
}





