.btn {
  border: 0;
  box-shadow: none;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  outline: none;
  text-align: center;
  transition: background .3s ease, color .3s ease;

  &--success {
    background-color: $mid-green;
    border-radius: 2px;
    color: $white;
    padding: 1.1rem 2.7rem;

    &:hover,
    &:active,
    &:visited {
      background-color: darken($mid-green, 5%);
      box-shadow: none;
      color: $white;
      outline: none;
    }

    &:focus {
      box-shadow: none;
      color: $white;
      outline: none;
    }
  }

  &--default {
    @extend .btn--success;

    background-color: $mid-blue;

    &:hover,
    &:active,
    &:visited {
      background-color: darken($mid-blue, 5%);
      color: $white;
    }
  }
}
