// -------------------------------------------------------
// Variables
// -------------------------------------------------------

//*************************
// Colors
//*************************

//*************************
// Fonts
//*************************

//*************************
// Media
//*************************

$mobile: 480px;
$tablet: 768px;
$lg: 1170px;
