// -------------------------------------------------------
// Variables
// -------------------------------------------------------

//*************************
// Colors
//*************************

$white: #fff;
$white-two: #f4f4f4;
$charcoal-grey: #43484d;
$mid-blue: #2b69a7;
$greyish: #afafaf;
$white-0: rgba(237, 237, 237, 0);
$white-three: #d8d8d8;
$black: #000;
$white-four: #e2e2e2;
$white-five: #d9d9d9;
$mid-green: #4caf50;
$squash: #f6a623;
$windows-blue: #357ec6;


//*************************
// Fonts
//*************************

//*************************
// Media
//*************************

$mobile: 480px;
$tablet: 768px;
$md: 992px;
$lg: 1170px;
