mixin m-camera-btn

  +b.BUTTON.m-camera-btn
    svg (width="24" height="21" viewBox="0 0 24 21" xmlns="http://www.w3.org/2000/svg"><title>8FCB746B-6FC9-4158-9C36-EFADD89793AB</title><path class="camera-icon" d="M.94 20.05c.627.632 1.366.95 2.262.95h17.596c.896 0 1.635-.318 2.261-.95.628-.635.941-1.38.941-2.286V6.47a3.11 3.11 0 0 0-.94-2.285 3.08 3.08 0 0 0-2.262-.95H18l-.65-1.72c-.156-.407-.447-.769-.85-1.063C16.073.158 15.65 0 15.201 0H8.798C8.35 0 7.926.158 7.5.453c-.403.294-.694.656-.851 1.063l-.65 1.72H3.203c-.874 0-1.635.317-2.261.95A3.11 3.11 0 0 0 0 6.47v11.293c0 .905.313 1.651.94 2.285zM12 6.47c1.522 0 2.844.544 3.94 1.653 1.097 1.109 1.657 2.444 1.657 3.982 0 1.562-.56 2.896-1.657 4.005-1.096 1.11-2.418 1.653-3.94 1.653-1.545 0-2.866-.544-3.963-1.653s-1.635-2.443-1.635-4.005c0-1.538.538-2.873 1.635-3.982C9.134 7.014 10.455 6.47 12 6.47zm0 9.278c.985 0 1.835-.361 2.53-1.063.694-.702 1.052-1.562 1.052-2.58 0-.995-.358-1.855-1.053-2.557-.694-.701-1.544-1.063-2.529-1.063a3.462 3.462 0 0 0-2.552 1.063 3.522 3.522 0 0 0-1.053 2.557c0 1.018.358 1.878 1.053 2.58A3.462 3.462 0 0 0 12 15.749z" fill="#FFF" fill-rule="evenodd")


