mixin m-card-block

  -
    var users = {
      1: {
        name: 'Dan Parker',
        description: 'Institutional Investor',
        image: '../../img/DP-ava.png'
      },
      2: {
        name: 'Brian King',
        description: 'Institutional Investor in the United States',
        image: '../../img/BK-icon.png'
      },
      3: {
        name: 'Tim Barrett, CFA',
        description: 'Institutional Investor in the United States',
        image: '../../img/TB-ava.png'
      },
      4: {
        name: 'Joshua Fenton',
        description: 'Fund Manager at Alpha Strategies Investment Consalting',
        image: '../../img/JF-ava.png'
      }
    }

  +b.m-card-block
    each val, index in users
      .col-md-3.col-xs-6
        +m-card(val.image, val.name, val.description)
