mixin m-quote-sidebar

  +b.m-quote-sidebar
    +e.heading Daniel’s Interview Quote
    +e.quote The search for increasingly esoteric diversification parallels the search for yield in a world of persistently low interest rates.
    +e.A(href="#").read-full Read Full Inverview
