mixin m-sidebar

  +b.ASIDE.l-sidebar.m-sidebar
    +e.avatar-wrapper
      +m-avatar('../../img/DP-ava.png')
    +e.request-btn-wrapper.m-sidebar__request
      button.btn.btn--success Request Introduction
    +e.quote.m-sidebar__quote
      +m-quote-sidebar
