mixin m-user-info

  +b.m-user-info
    +e.H1.name Daniel Parker
    +e.H3.job-vacancy Deputy Chief Investment Officer
    +e.education Texas Tech University
      +e.SPAN.num | AUM $1.1B
    +e.location Lubbock, Texas, USA

