.m-distinguished-list {

  @include breakpoint(max-width $md) {
    text-align: left;
  }

  &__item {
    display: inline-block;
    height: 6rem;
    margin-bottom: 1.5rem;
    width: 6rem;

    &:not(:first-child) {
      margin-left: 2rem;
    }

    img {
      height: 6rem;
      width: 100%;
      object-fit: cover;
    }
  }
}
