.m-geography-list {
  display: flex;
  height: 100%;
  margin-top: 1.5rem;
  min-height: 12.5rem;
  position: relative;
  z-index: 10;

  &::after {
    background-image: url('./../img/world-map.png') no-repeat;
    background-size: contain;
    content: '';
    display: block;
    flex-direction: column;
    height: 7.8rem;
    left: 0;
    margin-top: 1.5rem;
    position: absolute;
    top: 4.6rem;
    width: 16.4rem;
    z-index: -1;

    @include image-2x('../../img/world-map@2x.png');
  }
}
